@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth !important;
}

* {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

body {
  font-family: 'Jost', sans-serif;
  color: orange;
  background-color: #F0F0F0;
}

.loader {
  margin-top: 2em;
  margin-bottom: 2em;
}

.navigation {
  float: left;
}

.posts {
  float: left;
}

.logout {
  float: right;
}

.prof {
  width: 80px;
  height: 80px;
}

.delete {
  background-color: rgba(0, 0, 255, 0.1);
  color: gray;
  padding: .1em .8em;
  border-radius: 6px;
  float: right;
  margin-top: -3.5em;
}